extends partial/default.jade
block content
  .Hero.cf
    .Hero-img.img-fill
      img.img-fill-src(src="img/family.png")
    .Hero-content
      .container.tc.mh-auto
        .featured-news.tc
          h2.f6.ttu.tracked.white company
          h3.f1.white Mission & Vission

  .container.mh-auto.pv6-l
    .flex-ns
      .box-bg.bg-primary.w-50-ns.flex.items-center
        .box-bgSolid
          .content.pa5.white
            h2.h6.ttu.white.mb3 Our Mission
            p.lead Menjadikan PROTEKSIPEDIA.COM dan HANWHA LIFE menjadi pilihan utama masyarakat Indonesia.
      .box-bgImg.w-50-ns
        .FlexEmbed.img-fill
          .FlexEmbed-ratio
          .FlexEmbed-content
            img.img-responsive.img-fill-src(src="img/asia-family-morning-crop.jpg")
    .vision
      .flex-ns
        .box-bg.w-50-ns
          .box-bgImg
            .FlexEmbed.img-fill
              .FlexEmbed-ratio
              .FlexEmbed-content
                img.img-responsive.img-fill-src(src="img/asia-family-morning2-crop.jpg")
        .box-bgSolid.w-50-ns.bg-primary.flex.items-center
          .content.pa5.white
            h2.h6.ttu.white.mb3 Our Vision
            p.lead Meningkatkan kesadaran masyarakat terutama generasi muda tentang pentingnya perencanaan keuangan melalui Asuransi Jiwa.
