extends partial/default.jade
block content
  .Hero.cf
    .Hero-content.ph3
      .container.mh-auto
        h2.f6.ttu.tracked.mb3.white Company
        h3.f1.mb3.white Vision & Mission

  .container.mh-auto
    .flex-ns
      .box-bg.bg-primary.w-50-ns.flex.items-center
        .box-bgSolid
          .content.pa5.white
            h2.f3.ttc.white.mb3.normal Our Mission
            p.lead Menjadikan PROTEKSIPEDIA.COM dan HANWHA LIFE menjadi pilihan utama masyarakat Indonesia.
      .box-bgImg.w-50-ns
        .FlexEmbed.img-fill
          .FlexEmbed-ratio
          .FlexEmbed-content
            img.img-responsive.img-fill-src(src="img/asia-family-morning-crop.jpg")
    .vision
      .flex-ns
        .box-bg.w-50-ns
          .box-bgImg
            .FlexEmbed.img-fill
              .FlexEmbed-ratio
              .FlexEmbed-content
                img.img-responsive.img-fill-src(src="img/asia-family-morning2-crop.jpg")
        .box-bgSolid.w-50-ns.bg-primary.flex.items-center
          .content.pa5.white
            h2.f3.ttc.white.mb3.normal Our Vision
            p.lead Meningkatkan kesadaran masyarakat terutama generasi muda tentang pentingnya perencanaan keuangan melalui Asuransi Jiwa.
