extends partial/default.jade
block content
  .Hero.cf.mb4
    .Hero-content.ph3
      .container.mh-auto
        h2.f6.ttu.tracked.mb3.white Gallery
        h3.f1.mb3.white Pictures & Videos

  .container.mh-auto
    .cf
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.mb1
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
      .fl.w-50.w-33-l.pv2.pa2.mb2
        .bg-whites.dim
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/family.png")
