extends partial/default.jade
block content
  .Hero.cf.mb5.mb6-l
    .Hero-img.img-fill
      img.img-fill-src(src="img/family.png")
    .Hero-content
      .container.mh-auto.tr
        .dib.tl.bg-primary2.pv4.ph2.ph4-l.w-50-l
          p.f2.white Membangun Sumber Daya Manusia. Memberikan Pelayanan Yang Terbaik

  section.mb5.mb6-l.pb4.pb6-l.bb.bb-primary2
    .container.mh-auto.ph3
      .cf
        .fl.w-100.w-60-l
          header.mb3
            h2.f2.normal Proteksipedia
          .content.mb4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .mb3
            a.f6.b.ttc.tracked.pv2.ph4.link.ba.bb-primary.bg-primary.dim.white(href="#") View detail

        .fl.w-100.w-40-l

  section.mb5.mb6-l.pb4.pb6-l.bb.bb-primary2
    .container.mh-auto.ph3
      h2.f6.ttu.tracked.mb3 News & Blog
      .cf
        .fl.w-100.w-50-l.mb3
          a(href="#").FlexEmbed.img-fill.mb3
            .FlexEmbed-ratio.FlexEmbed-ratio--16by9
            .FlexEmbed-content
              img.img-fill-src(src="img/child-shoes.jpg")
          .pb3
            a.link(href="")
              h4.f3.normal Persiapan menunggu sang buah hati datang

        .fl.w-100.w-50-l
          ul.pl3-l
            li.dt.w-100.mb3.pb3.bb.bb-primary
              .dtc.w-20
                a(href="#").FlexEmbed.img-fill
                  .FlexEmbed-ratio
                  .FlexEmbed-content
                    img.img-fill-src(src="img/family.png")
              .dtc.w-80.pl3.v-top
                h4.f4.normal To live is the rarest thing in the world. Most people exist, that is all
            li.dt.w-100.mb3.pb3.bb.bb-primary
              .dtc.w-20
                a(href="#").FlexEmbed.img-fill
                  .FlexEmbed-ratio
                  .FlexEmbed-content
                    img.img-fill-src(src="img/family.png")
              .dtc.w-80.pl3.v-top
                h4.f4.normal To live is the rarest thing in the world. Most people exist, that is all
            li.dt.w-100.mb3
              .dtc.w-20
                a(href="#").FlexEmbed.img-fill
                  .FlexEmbed-ratio
                  .FlexEmbed-content
                    img.img-fill-src(src="img/family.png")
              .dtc.w-80.pl3.v-top
                h4.f4.normal To live is the rarest thing in the world. Most people exist, that is all

  section.mb5.mb6-l.pb4
    .container.mh-auto.ph3
      h2.f6.ttu.tracked.mb3 Gallery
      .cf
        .fl.w-100.w-third-l.mb3-l.ph2-l
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/baby-foot.jpg")
        .fl.w-100.w-third-l.mb3-l.ph2-l
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/baby-sleep.jpg")
        .fl.w-100.w-third-l.mb3-l.ph2-l
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3
            .FlexEmbed-content
              img.img-fill-src(src="img/kid-bubble.jpg")
