extends partial/default.jade
block content
  .Hero.cf
    .Hero-content.ph3
      .container.mh-auto
        h2.f6.ttu.tracked.mb3.white News & Blog
        h3.f1.mb3.white Publications, Insights & News

  section.mb4.mb6-l
    .container.mh-auto.ph3
      .cf.relative
        .fl.w-100.w-70
          a(href="#").FlexEmbed.img-fill
            .FlexEmbed-ratio.FlexEmbed-ratio--2by1
            .FlexEmbed-content
              img.img-fill-src(src="img/child-shoes.jpg")
        .fl.w-100.w-third-l.h-100.absolute-l.bg-primary.r0
          .ph3.pv4
            h2.f3.white.lh-copy.normal It is within the journey of motherhood that a woman will discover how strong she really is.

  .container.mh-auto.ph3-l
    .cf
      .fl.w-100.w-50-m.w-third-l
        .ph3.mb3.mb6-l
          h2.f6.ttu.tracked.mb3 Latest News

      .fl.w-100.w-50-m.w-third-l
        .ph3.mb6-l
          h2.mb3.normal To live is the rarest thing in the world. Most people exist, that is all
          p.mb3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .mb3.bb.bb-primary2
          time
            small November 19, 2016
      .fl.w-100.w-50-m.w-third-l
        .ph3.mb6-l
          h2.mb3.normal To live is the rarest thing in the world. Most people exist, that is all
          p.mb3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .mb3.bb.bb-primary2
          time
            small November 19, 2016
      .fl.w-100.w-50-m.w-third-l
        .ph3.mb6-l
          h2.mb3.normal To live is the rarest thing in the world. Most people exist, that is all
          p.mb3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .mb3.bb.bb-primary2
          time
            small November 19, 2016
      .fl.w-100.w-50-m.w-third-l
        .ph3.mb6-l
          h2.mb3.normal To live is the rarest thing in the world. Most people exist, that is all
          p.mb3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .mb3.bb.bb-primary2
          time
            small November 19, 2016
      .fl.w-100.w-50-m.w-third-l
        .ph3.mb6-l
          h2.mb3.normal To live is the rarest thing in the world. Most people exist, that is all
          p.mb3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .mb3.bb.bb-primary2
          time
            small November 19, 2016

    //- .row
    //-   .col-lg-4
    //-     h2.h6.text-uppercase Headlines
    //-     .headline-news
    //-       a(href="news-page.html")
    //-         img.img-responsive(src="https://unsplash.it/480/240?image=1066")
    //-       a(href="news-page.html")
    //-         h3 Your Baby, Your Treasure
    //-   //- .col-lg-4
    //-   //-   h2.h6.text-uppercase News
    //-   //-   include ./partial/news-list.jade
    //-   //- .col-lg-4
    //-   //-   h2.h6.text-uppercase Agenda
    //-   //-   include ./partial/agenda-list.jade
