extends partial/default.jade
block content
  .Hero.cf
    .Hero-img.img-fill
      img.img-fill-src(src="img/family.png")
    .Hero-content
      .container.tc.mh-auto
        .featured-news.tc
          h2.f6.ttu.tracked.white Opportunity
          h3.f1.ttc.white marketing plan

  .container.mh-auto.pv5-l
    .plan
      header.ttu.tracked.tc.mb4-ns
        h2.f6 Paket Join
    .cf
      .fl.w-100.w-third-ns.ph3
        .plan-table.tc.pb3.bg-white.ba.bb-primary.br2
          .plan-title.pv5.bb.bb-primary.bg-primary
            h4.f4.white.ttu Silver
          .plan-detail.pv3.bb.bb-primary
            h6.f6.mb2 Rupiah
            p.f4 300 (BV 150)
          .plan-detail.pv3.bb.bb-primary
            h6.f6.mb2 Bonus Pasangan
            p.f4 10%
          .plan-detail.pv3
            h6.f6.mb2 Batas Mingguan
            p.f4 Rp.5.000.000
      .fl.w-100.w-third-ns.ph3
        .plan-table.tc.pb3.bg-white.ba.bb-primary.br2
          .plan-title.pv5.bb.bb-primary.bg-primary
            h4.f4.white.ttu Gold
          .plan-detail.pv3.bb.bb-primary
            h6.f6.mb2 Rupiah
            p.f4 600 (BV 300)
          .plan-detail.pv3.bb.bb-primary
            h6.f6.mb2 Bonus Pasangan
            p.f4 12%
          .plan-detail.pv3
            h6.f6.mb2 Batas Mingguan
            p.f4 Rp.10.000.000
      .fl.w-100.w-third-ns.ph3
        .plan-table.tc.pb3.bg-white.ba.bb-primary.br2
          .plan-title.pv5.bb.bb-primary.bg-primary
            h4.f4.white.ttu Platinum
          .plan-detail.pv3.bb.bb-primary
            h6.f6.mb2 Rupiah
            p.f4 1500 (BV 750)
          .plan-detail.pv3.bb.bb-primary
            h6.f6.mb2 Bonus Pasangan
            p.f4 14%
          .plan-detail.pv3
            h6.f6.mb2 Batas Mingguan
            p.f4 Rp.25.000.000
