extends partial/default.jade
block content
  .Hero
    .Hero-img.img-fill
      img.img-fill-src(src="img/family.png")
    .Hero-content

  .container.mh-auto.pv5.ph3
    header.ttu.tracked.mb4-ns
      h2.f6 Our Products
    ul.ProductList
      li.ProductList-item.pv4.bb.bb-primary
        .flex-ns.flex-wrap.justify-between.items-center
          .ProductList-desc.w-100.w-70-ns.mb4.mb0-ns
            h3.f3-l.mb3 Hanwha Link Reguler
            p Hanwha Link Reguler merupakan produk asuransi jiwa sekaligus investasi yang akan memenuhi kebutuhan perlindungan asuransi jiwa dan finansial secara lengkap serta memastikan masa depan Anda dan keluarga Anda terlindungi dari segala kemungkinan.
          .ProductList-action.w-100.w-30-ns.tr-ns
            a.f6.b.ttc.tracked.pv2.ph4.link.ba.bb-primary.bg-primary.dim.white(href="#") View detail
      li.ProductList-item.pv4.bb.bb-primary
        .flex-ns.flex-wrap.justify-between.items-center
          .ProductList-desc.w-100.w-70-ns.mb4.mb0-ns
            h3.f3-l.mb3 Hanwha Link Single
            p Hanwha Link Reguler merupakan produk asuransi jiwa sekaligus investasi untuk memenuhi kebutuhan perlindungan asuransi jiwa dan finansial secara lengkap serta memastikan masa depan Anda dan keluarga Anda terlindungi dari segala kemungkinan.
          .ProductList-action.w-100.w-30-ns.tr-ns
            a.f6.b.ttc.tracked.pv2.ph4.link.ba.bb-primary.bg-primary.dim.white(href="#") View detail
      li.ProductList-item.pv4.bb.bb-primary
        .flex-ns.flex-wrap.justify-between.items-center
          .ProductList-desc.w-100.w-70-ns.mb4.mb0-ns
            h3.f3-l.mb3 Hanwha Wizer
            p Hanwha Wizer memberikan solusi Prima dengan memberikan Proteksi secara maksimal dan Investasi secara Optimal serta memastikan masa depan Anda dan keluarga Anda terlindungi dari segala kemungkinan.
          .ProductList-action.w-100.w-30-ns.tr-ns
            a.f6.b.ttc.tracked.pv2.ph4.link.ba.bb-primary.bg-primary.dim.white(href="#") View detail
      li.ProductList-item.pv4.bb.bb-primary
        .flex-ns.flex-wrap.justify-between.items-center
          .ProductList-desc.w-100.w-70-ns.mb4.mb0-ns
            h3.f3-l.mb3 Hanwha Education
            p Hanwha Education adalah produk asuransi jiwa pendidikan yang memberikan jaminan dana pendidikan saat putra/putri anda memasuki perguruan tinggi dan selama jenjanng masa pendidikannya serta tersedianya manfaat untuk modal usaha di usia 40 tahun.
          .ProductList-action.w-100.w-30-ns.tr-ns
            a.f6.b.ttc.tracked.pv2.ph4.link.ba.bb-primary.bg-primary.dim.white(href="#") View detail
      li.ProductList-item.pv4
        .flex-ns.flex-wrap.justify-between.items-center
          .ProductList-desc.w-100.w-70-ns.mb4.mb0-ns
            h3.f3-l.mb3 Hanwha Health Care Protection
            p Hanwha Health Care Protection merupakan produk asuransi yang akan memberikan santunan pengobatan bila anda sakit dikarenakan penyakit maupun kecelakaan dan memerlukan perawatan di rumah sakit.
          .ProductList-action.w-100.w-30-ns.tr-ns
            a.f6.b.ttc.tracked.pv2.ph4.link.ba.bb-primary.bg-primary.dim.white(href="#") View detail
