section.bg-secondary.mt5-l.bg-cityline
  .container.mh-auto.ph3.pv5
    .flex-ns.flex-wrap.justify-between.items-center
      .ProductList-desc.w-100.w-70-ns.mb4.mb0-ns.white
        h3.f2-l.mb3.normal.white Join the Opportunity
        p Bergabung bersama kami dan dapatkan keuntungan-keuntungan yang hanya kami berikan kepada anda
      .ProductList-action.w-100.w-30-ns.tr-ns
        a.f5.ttc.tracked.pv2.ph4.link.ba.bb-white.dim.white.br1(href="#") Join Now

footer.MainFooter.bg--tertiary.ph3.pt3.pb5
  .container.mh-auto.flex-l.flex-wrap.justify-between.items-center.bt.b--white-50.pt3.white
    .logo
      h1.f3.white Proteksipedia
    nav.mb4.mb0-l
      a.ttc.db.dib-l.ml4-l.dim.mb2.mb0-l.link.white(href="index.html") Home
      a.ttc.db.dib-l.ml4-l.dim.mb2.mb0-l.link.white(href="company.html") Company
      a.ttc.db.dib-l.ml4-l.dim.mb2.mb0-l.link.white(href="product.html") Products
      a.ttc.db.dib-l.ml4-l.dim.mb2.mb0-l.link.white(href="opportunity.html") Opportunity
      a.ttc.db.dib-l.ml4-l.dim.mb2.mb0-l.link.white(href="gallery.html") Gallery
      a.ttc.db.dib-l.ml4-l.dim.mb2.mb0-l.link.white(href="news.html") News
      a.ttc.db.dib-l.ml4-l.dim.mb2.mb0-l.link.white(href="contact.html") Contact us
    .social
      a.ttc.dib.dim.link.white(href="register.html")
        i.icon-facebook2
      a.ttc.dib.ml3.dim.link.white(href="login.html")
        i.icon-twitter
      a.ttc.dib.ml3.dim.link.white(href="register.html")
        i.icon-instagram
      a.ttc.dib.ml3.dim.link.white(href="login.html")
        i.icon-youtube
