//- header.MainHeader.bg-white
//-   .container-l.mh-auto.pv3.ph3.cf.center
//-     .logo.fl-ns.v-mid
//-       h1.f5.ma0.ttu Hajar Jahanam Gold
//-     .nav.fr-ns.v-mid.tc
//-       a.dib.link.ph3(href="#tentang") Tentang
//-       a.dib.link.ph3(href="#khasiat") Khasiat & Manfaat
//-       a.dib.link.ph3(href="#testimonial") Testimonial
//-       a.dib.link.ph3(href="#price") Harga
//-       a.dib.link.ph3(href="#pesan") Pesan Sekarang
//-


header.MainHeader.dn.db-l
  .MainHeader-topContainer
    .container.MainHeader-topContainer.mh-auto.flex-l.flex-wrap.items-center
      .container.w-100.tr
        a.ttc.dib.ml4.dim(href="register.html") login
        span.ttc.dib.ml4 |
        a.ttc.dib.ml4.dim(href="login.html") register
        a.ttc.dib.ml3.dim(href="register.html")
          i.icon-facebook2
        a.ttc.dib.ml3.dim(href="login.html")
          i.icon-twitter
        a.ttc.dib.ml3.dim(href="register.html")
          i.icon-instagram
        a.ttc.dib.ml3.dim(href="login.html")
          i.icon-youtube
  .container.MainHeader-bottomContainer.mh-auto.flex-l.flex-wrap.justify-between.items-center
    .logo
      h1.f3.white Proteksipedia
    nav
      a.ttc.dib.ml4.dim(href="index.html") Home
      a.ttc.dib.ml4.dim(href="company.html") Company
      a.ttc.dib.ml4.dim(href="product.html") Products
      a.ttc.dib.ml4.dim(href="opportunity.html") Opportunity
      a.ttc.dib.ml4.dim(href="gallery.html") Gallery
      a.ttc.dib.ml4.dim(href="news.html") News
      a.ttc.dib.ml4.dim(href="contact.html") Contact us

aside.ResponsiveMenu.bg-primary.dn-l
  .container.mh-auto.pv3.ph3
    .flex.justify-between
      .logo-s
        h2.f3.white Proteksipedia
      .toggle-menu
        a.f5.link.white.normal.ba.pa2.br(href="#")
          i.icon-menu.dib.pr2
          span.ttu.dib Menu
  .container.mh-auto.dn
    nav.pv2.ph3
      a.ttc.db.pv2.link.white.dim(href="index.html") Home
      a.ttc.db.pv2.link.white.dim(href="company.html") Company
      a.ttc.db.pv2.link.white.dim(href="product.html") Products
      a.ttc.db.pv2.link.white.dim(href="opportunity.html") Opportunity
      a.ttc.db.pv2.link.white.dim(href="gallery.html") Gallery
      a.ttc.db.pv2.link.white.dim(href="news.html") News
      a.ttc.db.pv2.link.white.dim(href="contact.html") Contact us
