.Hero {
  background-color: var(--color-tertiary);
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 400px;
  justify-content: center;
}

.Hero-img {
  background-color: var(--color-tertiary);
  min-height: 400px;
  opacity: 0.85;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Hero-content {
  position: relative;
}
