


.Hero {
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 400px;
}

.Hero-img {
  background-color: var(--color-primary);
  min-height: 400px;
  opacity: 0.85;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Hero-content {
  position: relative;
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Hero h3 {
  font-weight: normal;
}

@media (min-width: 960px) {
  .Hero {
    align-items: center;
  }
}
