.MainHeader {
  min-height: 56px;
  color: #fff;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,.2);
}

.MainHeader-bottomContainer {
  min-height: 56px;
  background-color: var(--color-primary);
}

.MainHeader-topContainer {
  min-height: 32px;
  background-color: var(--color-secondary);
}

.MainHeader a {
  color: #fff;
  text-decoration: none;
}
