@import "suitcss-base";
@import "tachyons";
@import "suitcss-components-flex-embed";


@import "MainHeader.css";




/* Components */
@import "Hero.css";

/*
f7ab97
f47e57
ba6145
*/

:root {
  --color-primary: #f7ab97;
  --color-secondary: #f47e57;
  --color-tertiary: #ba6145;

  --primary-font: 'ubuntu';
  --heading-font: 'ubuntu';
}

html {
  font-size: 87.5%;
  background-color: #fcfcfc;
  color: rgba(0,0,0,.95);
  font-family: 'ubuntu';
}

h1,h2,h3,h4,h5,h6 {
  color: var(--color-tertiary);
}

p {
    line-height: 1.5;
}

img {
  max-width: auto;
  max-height: 100%;
}


.container {
  max-width: 960px;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.bb-primary {
  border-color: var(--color-primary);
}

.bb-primary2 {
  border-color: rgba(247,171,151, 0.5);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
.bg--tertiary {
  background-color: var(--color-tertiary);
}


.container-sm {
  max-width: 45em;
}

.h-100 {
  height: 100%;
}

.r0 {
  right: 0;
}

.bg-cityline {
  background-image: url('../img/city2.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 40%;
}
